.top-fixed {
  background-color: #fff;
  width: 100%;
  height: 7.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Archivo';
  font-size: clamp(16px, 2vw, 24px);
}


.hero {
  width: 100%;
  height: 44.4vh;
  display: grid;
  align-items: center;
  background-image: url('/assets/image-michael-jordan.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #121214BF;
  padding: 0 5vw; 
}

.hero-text {
  height: auto; 
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-left: 15vw; 
}
.hero-title {
  color: #fff;
  font-size: clamp(20px, 3.6vw, 32px); 
  text-align: left;
}

.hero-logo {
  font-family: 'Archivo';
  text-align: left;
  color: #fff;
  font-size: clamp(16px, 2.6vw, 24px);
  gap: 0.9vh;
  margin: 0 0 1.1vh 0;
}

.hero-subtitle {
  text-align: left;
  font-family: 'Archivo';
  font-size: clamp(16px, 2.6vw, 24px);
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.1vh;
}
.catalog-box {
  padding-top: 8.9vh;
  text-align: center;
}

.catalog-title {
  color: black;
  font-size: clamp(20px, 3.6vw, 32px);
  font-weight: bold;
}

.catalog-subtitle {
  font-size: clamp(16px, 2.6vw, 24px);
  line-height: 1.5;
}

@media (max-width: 765px) {
  .hero-text {
    margin-left: 0;           
    align-items: center;     
    text-align: center;
  }
  .hero {
    padding: 0 2vw;          
  }
}

.catalogo-items {
  width: 1051px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

