.sapato {
    width: 40vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F3F7FF;
    margin: 15px;
    justify-content: center;
}
.sapato-info {
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
};